<div id="show-lists" class="row">
  <div class="large-12 columns">
    <div class="panel">

      <h2><%=@survey.title%></h2><br>

      <%@survey.questions.each do |question|%>
      <%@current_question = @survey.questions.find_by(id: question.id)%>

          <form action="" method="post">


            <ul id="survey-in-progress">
              <li><%=question.id%>. <%=question.title%></li><br>



              <%question.choices.each do |choice|%>

              <div class="rb">
              <input class="radio-button" type="radio" name="<%=choice.title%>" value="" /><span>  </span><%=choice.title%>
              </div>




              <%end%>

                <br>
                 <input type="submit" name="submit" value="submit"/>


            </ul>


          </form>

      <%end%>



    </div>
  </div>
</div>


